#splashPage {
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    border: double;
    background-color:#334C4C;
    z-index: 100;
    opacity: 1;
    visibility: visible;
    transition-property: opacity, visibility;
    transition-delay: 3s;
    transition-duration: 3s
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottompanel{
    min-height: 60px;
    z-index: 0;
    background-color: #334C4C;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}


#messages p {
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    display: inline-block;
    float: left;
}

#offline_menu button {
    margin: 10px;
}

#offline_menu {
    margin: 10px;
  z-index: 100;
  background-color: #fff;
  position: relative;
  width: 95%;
  display: block;
}

#logo {
    max-height: 20%;
    max-width: 55%;
    display: inline-block;
    top: 25%;
    position: absolute;
    horizontal-align: center;
}

#progress{
    horizontal-align: center;
}


.container-fluid {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-delay: 0s;
    transition-duration: 6s;
}

.col-xs-12 {
    padding: 2px;
}

.col-xs-9 {
    padding: 2px;
}

.col-xs-3 {
    padding: 2px;
    border-right: 4px #000000;
}

.hidden-xs{
    display:none;
}

#mapDiv {
    z-index: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    }

.esriScalebarLine{
    background-color: white;
    border: white 2px black;
    opactiy: 1;
    padding: 2px 2px;
}

.esriScalebar {
    width: 35%;
    position: relative;
    padding: 2px 2px;
}

.esriScalebarRuler {
    right: 5px;
    left: 5px;
    position: absolute;
}

.scaleLabelDiv {
    right: 5px;
    left: 5px;
    position: absolute;
   
}

.esriScalebarLabel {
     font: 12px arial;
     color: black;
     font-family: sans-serif;
     text-shadow: 0px 0px 5px white;
     top: 5px;
}

#scalebarHousing {
    display: inline-block;
    position:absolute;
    left: 2px;
    right: 2px;
    bottom: 2px;
    height: 20px;
    background-color: white;
    opacity: 1;
}

#legendHousing{
    display: inline-block;
    position:absolute;
    right: 0px;
    bottom: 0px;
    background-color: white;
    opacity: 0.95;
    padding: 5px;
    border: 1px solid black;
    overflow-y: scroll;
    max-height: 50%;
    max-width: 50%;
    -webkit-transform: translate(70%, 80%);
    transform: translate(70%, 80%);
}

#legendDiv {
    visibility: hidden
}

body {
    background-color: #334C4C;
    overflow: hidden;
    font-family: "Trebuchet MS";
    }

.text-center{
    color: white;
}

#homeButton {
    top: 5px;
    transform: scale(1.25, 1.25);
    vertical-align: center;
}

#esriLocate{
    top:5px;
    transform: scale(1.25, 1.25);
    vertical-align: center;
}

#img-offline-indicator {
    padding: 8px;
    position: relative; 
    }

#navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top:0px;
    left: 0px;
    height: 33px;
    margin-bottom: 2px;
    width: 100%;
    padding:2px;
}

#title {
    position: relative;
    width: 33.333%;
}

#controllers {
    position: relative;
    width: 33.333%;
}

paper-fab:active{
    transform: scale(1.1, 1.1);
}

button:focus {
    outline: 0 !important;
}  

input:focus {
    outline: 0 !important;
}


#basemapButton {
    float: right;
    transform: scale(1.25, 1.25);
    background-color:#334C4C;
    diplay: inline-block;

}


#tools {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow-y: scroll;
    background-color: #fff;
    z-index: 100;
    -webkit-box-shadow: -2px 2px 2px 2px #000000;  
   -moz-box-shadow:   -2px 2px 2px 2px #000000; 
    box-shadow:        -2px 2px 2px 2px #000000; 
}	


#mapservices{
    margin: 10px;
    z-index: 100;
    background-color: #fff;
    position: relative;
    width: 95%;
    display: block;
}

#mapservices button {
    margin: 10px;
}



#layer_list{
    position: relative;
    width: 90%;
    z-index: 0;
    margin-left: 10px;
}


.span-pending {
    visibility: hidden;
    transition-property: visibility;
}



 @-webkit-keyframes
       pulse {
        0%
        {
          opacity: 1.0;

        }
        45%
        {
          opacity: .20;

        }
        100%
        {
          opacity: 1.0;

        }
}

@-moz-keyframes
pulse{
    0%
    {
        opacity: 1.0;
    }
    45%
    {
        opacity: .20;
    }
    100%
    {
        opacity: 1.0;
    }
}

#map_graphics_layer {
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: pulse;
}

.line {
        margin-bottom: 5px;
      }

      .line span {
        margin-left: 5px;
      }
